<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <link rel="stylesheet" href="../assets/css/adminHomePage.css">
</head>
<body>
    <h1>Welcome Admin</h1>
    <nav>
        <a href="#">View Users</a>
        <a href="#">Add Admin</a>
        <a href="#">Pending Approval's</a>
        <a href="#">Refund Purchase</a>
        <a href="#">Payment Informations</a>
        <a href="#">Manage Coaches</a>
    </nav>
</body>
</html>