<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <!-- <link rel="stylesheet" href="../assets/css/header.css"> -->
    <link rel="stylesheet" href="../assets/css/adminHomePage.css">
</head>

<!-- <link rel="stylesheet" href="../assets/css/header.css"> -->
<!-- <header>
  <div class="container">
    <div id="branding">
      <h1><span class="highlight">E-Sport Coaching</h1>
    </div>
    <nav>
    </nav>
  </div>
</header> -->

<body>
    <div class ="left">
        <nav>
            <a href="#">View Users</a>
            <a href="#">Add Admin</a>
            <a href="#">Pending Approval's</a>
            <a href="#">Refund Purchase</a>
            <a href="#">Payment Informations</a>
            <a href="#">Manage Coaches</a>
            <a href="#">Manage Students</a>
            <a href="#">Manage Admins</a>
        </nav>
    </div>
    <h1>Welcome Admin</h1>
</body>
</html>