<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../assets/css/coachProfile.css">
  <link rel="stylesheet" href="../assets/css/header.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header id = "mainHeader">
    <div class = "container">
      <h1>e-Coach</h1>
    </div>
  </header>
  <nav id = "mainNav">
    <div class = "container">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Sign in</a></li>
        <li><a href="#">Log in</a></li>
        <li><a href="#">Log out</a></li>
      </ul>
    </div>
  </nav>
  
  <div class="container">
    <div class="firstRow">
      <div class="profile-name">
        <img src="../res/discord.png" alt="profile-avatar" id="profile-avatar">
        <h3 id="profile-name">Gamer Name here</h3>
      </div>
      
      <div class="packages">
        <h1>Packages</h1>
        <div class="individual-package">
          <p>1 ghontay 10 taka</p>
        </div>
        <div class="individual-package">
          <p>1 ghontay 10 taka</p>
        </div>
        <div class="individual-package">
          <p>1 ghontay 10 taka</p>
        </div>
        <div class="individual-package">
          <p>1 ghontay 10 taka</p>
        </div>
        <div class="individual-package">
          <p>1 ghontay 10 taka</p>
        </div>
      </div>
    </div>
    
    <div class="secondRow">
      <div class="achievements">
        <h1>Achievements</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam officiis distinctio maiores deleniti quis cum tempora animi, accusamus corporis quas nostrum a quod veniam tenetur reprehenderit enim temporibus facere assumenda!</p>
      </div>
      
      <div class="availability">
        <h1>Availability</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam beatae nobis aspernatur assumenda, similique deserunt. Rerum molestiae adipisci alias illum! Et impedit corporis repellendus adipisci ut itaque nesciunt earum rerum.</p>
      </div>
    </div>

    <div class="thirdRow">
      <div class="about">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam beatae nobis aspernatur assumenda, similique deserunt. Rerum molestiae adipisci alias illum! Et impedit corporis repellendus adipisci ut itaque nesciunt earum rerum.</p>
      </div>
    </div>

    <div class="fourthRow">
      <div class="featuredReview">
        <h1>Featured Review</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam beatae nobis aspernatur assumenda, similique deserunt. Rerum molestiae adipisci alias illum! Et impedit corporis repellendus adipisci ut itaque nesciunt earum rerum.</p>
      </div>
    </div>

    <div class="fifthRow">
      <div class="reviews">
        <h1>Reviews</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam beatae nobis aspernatur assumenda, similique deserunt. Rerum molestiae adipisci alias illum! Et impedit corporis repellendus adipisci ut itaque nesciunt earum rerum.</p>
      </div>
    </div>
    
  </div>
</body>
</html>