<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3fb3f86d64.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/loginPage.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <h2>Login</h2>
        </div>
        <form class="form" id="form" >
            <div class="form-control">
                <label>Username</label>
                <input type="text" placeholder="username" id="username" onkeyup="usernameCheck()">
                <i class="fas fa-exclamation-circle"></i>
                <i class="fas fa-check-circle"></i>
                <small>Error Message</small>
            </div>

            <div class="form-control">
                <label>Password</label>
                <input type="password" placeholder="Password" id="password" onkeyup="passwordCheck()">
                <i class="fas fa-exclamation-circle"></i>
                <i class="fas fa-check-circle"></i>
                <small>Error Message</small>
            </div>

            <input type="button" value="Login" onclick="submits()" id="button">
        </form>
    </div>
    <script src="../assets/js/login.js"></script>

</body>

</html>