* {
  box-sizing: border-box;
}

body {
  background-color: #dee1ec;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container{
  position: relative;
  width:80%;
  margin:auto;
  overflow:hidden;
}

.firstRow {
  position: relative;
  min-height: 350px;
}

.profile-name {
  background-color: #364f6b;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 60%;
  overflow: hidden;
  margin-top: 20px;
  position: absolute;
  right: 40%;
  color: white;
}

#profileAvatar {
  position: relative;
  margin: 20px;
  border-radius: 100px;
  /* display: absolute; */
  width: 200px;
  height: 200px;
}
/* #profileAvatar img{
  width: 100px;
  height: 100px;
} */

#profileName {
  display: inline-block;
  position: absolute;
  right: 150px;
  top: 60px;
}

.myButton {
  background-color:#e8491d;
  border: 2px solid #35424a;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  font-family: inherit;
  font-weight: bold;
  padding: 10px;
  width: 100%;
}

.packages {
  background-color: #364f6b;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 30%;
  overflow: hidden;
  margin-top: 20px;
  position: absolute;
  left: 70%;
  color: white;
  text-align: center;
}

.packages table {
  border-color: white;
  border-width: 3px;
  margin: auto;
}

.packages h1{
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.package-header {
  font-weight: bold;
}

.individual-package p{
  margin: 10px 10px;
  border-radius: 5px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondRow {
  position: relative;
  min-height: 350px;
}

.achievements {
  background-color: #364f6b;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 60%;
  overflow: hidden;
  margin-top: 20px;
  position: absolute;
  right: 40%;
}

.achievements h1 {
  margin: 20px;
  text-align: center;
  color: white;
}

.achievements pre {
  color: white;
  margin: 20px;
  font-size: 16px;
  white-space: pre-wrap;
}

.availability {
  background-color: #364f6b;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 30%;
  overflow: hidden;
  margin-top: 20px;
  position: absolute;
  left: 70%
}

.availability h1 {
  margin: 20px;
  text-align: center;
  color: white;
}

.availability pre {
  color: white;
  margin: 20px;
  font-size: 16px;
  white-space: pre-wrap;
}


.thirdRow {
  position: relative;
  min-height: 1000px;
}

.about {
  background-color: #364f6b;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  position: absolute;
}

.about h1 {
  margin: 20px;
  text-align: center;
  color: white;
}

.about pre {
  color: white;
  margin: 20px;
  font-size: 16px;
  white-space: pre-wrap;
}

.fourthRow {
  position: relative;
  min-height: 300px;
}

.featuredReview {
  background-color: #364f6b;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  position: absolute;
}

.featuredReview h1 {
  margin: 20px;
  text-align: center;
  color: white;
}

.featuredReview pre {
  color: white;
  margin: 20px;
  font-size: 16px;
  white-space: pre-wrap;
}

.featuredReview table {
  width: 100%;
  text-align: center;
  font-size: 18px;
  border-color: white;
}

.featuredReview table tr:first-child {
  font-weight: bold;
}

.featuredReview table td:first-child {
  width: 20%;
}

.fifthRow {
  position: relative;
  min-height: 300px;
}

.reviews {
  background-color: #364f6b;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  position: absolute;
}

.reviews h1 {
  margin: 20px;
  text-align: center;
  color: white;
}

.reviews pre {
  color: white;
  margin: 20px;
  font-size: 16px;
  white-space: pre-wrap;
}

.reviews table {
  width: 100%;
  text-align: center;
  font-size: 18px;
  border-color: white;
}

.reviews table tr:first-child {
  font-weight: bold;
}

.reviews table td:first-child {
  width: 20%;
}