* {
  box-sizing: border-box;
}

body {
  background-color: #dee1ec;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.resetPassword {
  /* edit out the min height if necessary */
  min-height: 60vh; 
  background-color: white;
  border-radius: 3px;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

#currentPasswordHeader {
  padding-top: 40px;
}

.resetPassword h4 {
  color: #e8491d;
  font-size: 18px;
  margin: 0;
}

.resetPassword input {
  margin-bottom: 20px;
}

.resetPassword button {
  background-color:#e8491d;
  border: 2px solid #35424a;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  font-family: inherit;
  font-weight: bold;
  padding: 10px;
  width: 30%;
  margin: auto;
  margin-top: 20px;
}
