* {
  box-sizing: border-box;
}

body {
  background-color: #5c5c5c;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0
}

.packages {
  /* edit out the min height if necessary */
  min-height: 60vh; 
  background-color: white;
  border-radius: 3px;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

